/**CONTENIDO DEL INDEX**/

.sobre-arquitecturas {

    h2 {

        color: $blanco;
        font-family: $fuente_titulos_secundario;
        font-size: 7.5rem;
        //font-weight: $regular;
        margin-bottom: 3rem;
    }

    span {

        color: $azul_secundario;
    }
}

.contenedor-arquitecturas {

    @include grid(3, 5rem);

    width: 80%;
    margin: 2rem auto 6rem auto;

    // justify-content: space-between;
    // align-items: center;


    .arquitectura {

        width: 100%;
        height: 38rem;
        border: 1.5px solid $morado;
        border-radius: 2rem;
        animation: flotar 4s linear infinite;

        .contenido-arq {

            display: none;
            justify-content: center;
            align-items: end;
            height: 100%;
            border-radius: 2rem;

            .titulo {

                color: $blanco;
                font-size: 5rem;
                font-weight: $bold;
                font-family: $fuente_titulo_principal;
            }
        }


        &:nth-child(1) {
            background-image: url('/build/img/arquitecturas/x86.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-child(2) {
            animation-delay: 2s;
            background-image: url('/build/img/arquitecturas/x64.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:nth-child(3) {
            background-image: url('/build/img/arquitecturas/ARM.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &:hover {

            box-shadow: 0px 0px 50px 0px lighten(rgba(7, 28, 43, 0.75), 20);

            .contenido-arq {

                display: flex;
                background: linear-gradient(#ffffff00, #194f75);
            }
        }
    }
}

@keyframes flotar {

    0% {
        transform: translateY(0rem);
    }

    25% {
        transform: translateY(-1rem);
    }

    50% {
        transform: translateY(0rem);
    }

    75% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

/**CONTENIDO DEL LAS ARQUITECTURAS**/
.arquitecturas {

    .contenedor-titulo {

        color: $blanco;
        text-align: left;
        font-family: $fuente_titulo_principal;
        font-weight: $regular;
        width: 65%;

        h2 {

            text-align: left;
            font-size: 6rem;
            font-weight: $bold;

            span {

                color: $azul_secundario;
            }
        }

        p {

            font-family: $fuente_titulo_principal;
            color: $gris;
            width: 65rem;
            text-align: left;
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .titulo-arquitectura {

        display: flex;
        justify-content: space-around;
        //max-height: 30rem;

        .contenedor-imagen {

            //width: 40%;

            .imagen {

                margin: 0 auto;
                width: 30rem;
                //height: 20rem;
                //width: 20rem;
            }
        }
    }
}

.h3-arq {

    margin-top: 10rem;
    font-family: $fuente_titulos_secundario;
    color: $blanco;
    font-size: 5rem;
    font-weight: $regular;
}

.linea-tiempo {

    @include grid(5, 3rem);
    width: 85%;
    margin: 0 auto;

    .tiempo {


        .contenido {

            height: 10rem;
            border: 8px solid $morado;
            border-radius: 1rem;
            background-color: $azul_secundario;
        }
    }
}

.componentes-claves {

    width: 85%;
    margin: 10rem auto 0 auto;

    .contenedor-componentes {

        @include grid(4, 3rem);
        width: 100%;

        .componente {

            padding: 1rem;
            border: 3px solid $morado;
            border-radius: 1rem;
            background-color: $azul_secundario;
            //min-width: 25rem;

            .icono {

                margin: 0 auto;
                width: 60%;
                filter: invert(100);
            }
        }
    }
}

.conclusiones {

    @include grid(2, 3rem);

    width: 95%;
    margin: 0 auto $separacion auto;

    .modos-operacion,
    .ventajas-desventajas {

        @include grid(2, 1rem);
        //border: 1.5px solid $morado;
        background-color: $azul_secundario;
        border-radius: 2rem;
        margin: 0 auto;
        padding: 2rem;
        height: 30rem;

    }
}