.imagen-fondo-principal {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(7, 28, 43, 0.2), rgba(7, 28, 43, 1)), url(/build/img/bk3-2.png);
    background-color: $azul_principal;
    // height: 70rem;
}

.background-animado {

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.cajas {

    div {

        position: absolute;
        width: 6rem;
        height: 6rem;
        background-color: transparent;

        &:nth-child(1) {
            top: 12%;
            left: 42%;
            animation: animate 10s linear infinite;
            border: 6px solid rgba(178, 199, 59, 0.8);
        }

        &:nth-child(2) {
            top: 70%;
            left: 40%;
            animation: animate 7s linear infinite;
            border: 6px solid rgba(68, 182, 73, 0.8);
        }

        &:nth-child(3) {
            top: 17%;
            animation: animate 9s linear infinite;
            left: 6%;
            border: 6px solid rgba(21, 58, 126, 0.8);
        }

        &:nth-child(4) {
            top: 20%;
            left: 60%;
            animation: animate 10s linear infinite;
            border: 6px solid rgba(245, 106, 63, 0.8);
        }

        &:nth-child(5) {
            top: 67%;
            left: 10%;
            animation: animate 5s linear infinite;
            border: 6px solid rgba(32, 84, 119, 0.8);
        }

        &:nth-child(6) {
            top: 80%;
            left: 70%;
            animation: animate 12s linear infinite;
            border: 6px solid rgba(255, 255, 255, 0.8);
        }

        &:nth-child(7) {
            top: 50%;
            left: 80%;
            animation: animate 15s linear infinite;
            border: 6px solid rgba(178, 199, 59, 0.8);
        }

        &:nth-child(8) {
            top: 32%;
            left: 25%;
            animation: animate 16s linear infinite;
            border: 6px solid rgba(68, 182, 73, 0.8);
        }

        &:nth-child(9) {
            top: 90%;
            left: 25%;
            animation: animate 9s linear infinite;
            border: 6px solid rgba(21, 58, 126, 0.8);
        }

        &:nth-child(10) {
            top: 20%;
            left: 80%;
            animation: animate 5s linear infinite;
            border: 6px solid rgba(255, 255, 255, 0.8);
        }

        &:nth-child(11) {
            top: 75%;
            left: 55%;
            animation: animate 16s linear infinite;
            border: 6px solid rgba(32, 84, 119, 0.8);
        }

        &:nth-child(12) {
            top: 85%;
            left: 90%;
            animation: animate 5s linear infinite;
            border: 6px solid rgba(245, 106, 63, 0.8);
        }


    }

    @keyframes animate {

        0% {
            transform: scale(0) translateY(0) rotate(0);
            opacity: 1;
        }

        100% {
            transform: scale(1.3) translateY(-9rem) rotate(360deg);
            opacity: 0;
        }

    }
}

.contenedor-circulos-animados {

    min-height: 100vh; // que ocupe todo el espacio donde se invoque
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    
    .burbujas {

        position: relative;
        display: flex;

        span {

            position: relative;
            width: 3rem;
            height: 3rem;
            background-color: darken($azul_secundario, 5);
            margin: 0 .5rem;
            border-radius: 50%;
            box-shadow: 0 0 0 1rem #38B6FF44, 0 0 5rem $azul_secundario, 0 0 10rem $azul_secundario;
            animation: animate2 15s linear infinite;
            animation-duration: calc(125s / var(--i));

            &:nth-child(even) {

                background-color: darken($rosado, 5);
                box-shadow: 0 0 0 1rem #ff2d7544, 0 0 5rem $rosado, 0 0 10rem $rosado;
            }
        }
    }

    @keyframes animate2 {
        0% {
            transform: translatey(100vh) scale(0);
        }

        100% {
            transform: translatey(-10%) scale(1);
        }
    }
}