.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

    .contenedor-logo {

        .logo {

            width: 6rem;
        }
    }

    .navegacion {

        cursor: pointer;

        li {
            color: $blanco;


        }

        a {
            color: $blanco;
        }

        a,
        li {

            &:hover {
                color: $azul_secundario;
                transition: color .2s ease-in;
            }
        }

        .opciones-navegacion {

            margin: 0;
            // color: $blanco;
            font-family: $fuente_titulo_principal;
            font-weight: calc($bold - 100);
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            column-gap: 1.5rem;

        }
    }
}

.sub-desplegado {

    display: none;
    position: absolute;
    list-style: none;
    color: $blanco;
    margin-top: .8rem;
    padding: 0 1rem;

    li {

        border: 1px solid $azul_secundario;
        padding: .5rem 4rem;
        display: flex;
        background-color: darken($azul_principal, 0.5);

        &:last-child {
            margin-bottom: 0;
        }


        &:hover {

            color: $azul_secundario;
            transition: color .2s ease-in;
        }
    }

    &.activo {
        display: block;
    }
}

//**BOTON DE REGRESO AL HEADER**//
.boton-regreso {

    border-radius: 50%;
    border: 1.5px solid $gris;
    width: 6rem;
    top: 80%;
    left: 92%;
    position: fixed;

    .imagen-boton {

        // width: 90%;
        // height: 90%;

        img {

            color: $gris;

        }
    }

}