.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    
    &.fixed {

        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 1.5rem 5%;

        border: 1.5px solid $azul_principal;
        background-color: rgba(7, 44, 71, 0.8);

    }

    .contenedor-logo {

        .logo {

            width: 6rem;
        }
    }

    .navegacion {

        cursor: pointer;

        li {
            color: $blanco;


        }

        a {
            color: $blanco;
        }

        a,
        li {

            &:hover,
            &.active {
                color: $azul_secundario;
                transition: color .2s ease-in;
            }
        }

        .opciones-navegacion {

            margin: 0;
            // color: $blanco;
            font-family: $fuente_titulo_principal;
            font-weight: calc($bold - 100);
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            column-gap: 1.5rem;

        }
    }
}